#greeting {
    text-align: center;
}

td {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

table {
    margin: auto;
    background-color: rgb(0, 191, 255);
    transform: rotate(270deg);
    border: 1px solid black;
}


#Red {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#Black {
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#results {
    text-align: center;
}


#reset {
    text-align: center;
}